.contacts {
  margin: 60px 0 50px 0;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 380px;
}

.call {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  text-transform: uppercase;
  color: #c29974;
}
