.main,
.category,
.delivery,
.awards {
  margin-bottom: 90px;
}

.main {
  position: relative;
}

.main-background {
  display: flex;
  column-gap: 44px;
  background: #eee4db;
}

.count-wrapper {
  margin: 17px 0 10px 28px;
}

.count {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 31px;
}

.control {
  width: 31px;
  height: 3px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.control__line {
  display: block;
  width: inherit;
  height: inherit;
}

.main-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 307px;
  margin: 89px 0 89px 0;
}

.design {
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.banner {
  position: absolute;
  top: -89px;
  right: 460px;
  width: 636px;
}

.offer {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c29974;
  padding: 11px 0;
  z-index: 3;
}

.category-list__item {
  width: 280px;
  height: 270px;
}

.arrows-button {
  width: 37px;
  height: 37px;
  background: rgba(112, 187, 220, 0.2);
  border: none;
  cursor: pointer;
}

.arrows-button__icon {
  width: inherit;
  height: inherit;
}

.delivery-image {
  width: 480px;
  height: 559px;
}
